src/*.exe
src/johnkeyoin
src/johnkeyoind
src/test_johnkeyoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.johnkeyoin

# Compilation and Qt preprocessor part
*.qm
Makefile
johnkeyoin-qt
JohnKeyoin-Qt.app

# Unit-tests
Makefile.test
johnkeyoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
